* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(53, 53, 53);
}

.keyboard{
    margin-bottom: 20px;
}

section ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

section ul li{
    width: 35px;
    margin: 2px 2px;
    height: 35px;
    text-align: center;
    border-radius: 4px;
    font-size: 25px;
    transition: background-color 0.5s ease;
    background-color: #98c6d6;
    
}

.selecting{
    transition: background-color 0.2s ease;
    background-color: yellow;
    
}

.selecting-key{
    transition: background-color 0.2s ease;
    background-color: rgb(19, 165, 19);
}

.key-selection{
    background-color: yellow;
}

main .text-box{
    width: 200px;
    background-color: rgb(221, 214, 214);
    border-radius: 5px;
    height: 100px;
    margin:auto;
    margin-bottom: 10px;
}

main .tap-button{   
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: none;
    background-color: rgb(113, 212, 113);
    font-weight: 600;
    
}


