/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: sans-serif;   
    background-color: #f2f2f2;
    opacity: 1;
}

main {
    margin-top:3% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: rgb(37, 37, 37);
    text-align: center;
    font-size: 24px;
    margin-bottom: 12px;
}

.keyboard{
    margin-bottom: 20px;
    background-color: rgb(242, 242, 242);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow:
    0 1.8px 1.2px rgba(0, 0, 0, 0.034),
    0 2.7px 1.3px rgba(0, 0, 0, 0.048),
    0 1.5px 1px rgba(0, 0, 0, 0.06),
    0 2.3px 7.9px rgba(0, 0, 0, 0.072),
    0 4.8px 3.4px rgba(0, 0, 0, 0.086),
    0 10px 8px rgba(0, 0, 0, 0.12);
}

section ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

section ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(68, 59, 59);
    font-size: 12;
    width: 35px;
    margin: 2px 2px;
    height: 35px;
    text-align: center;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 4px;
    transition: background-color 0.5s ease;
}

.caseChange{
    background-color: rgb(116, 172, 236);
}


.selecting{
    transition: background-color 0.2s ease;
    background-color: rgb(185, 185, 181) !important;
    
}

.selecting-key{
    transition: background-color 0.2s ease;
    border: 3px solid hsl(98, 100%, 50%);
}

.key-selection{
    background-color: yellow;
}

#text-box{
    padding: 8px;
    min-height: 200px;
    height: 250px;
    width: 70%;
    border: 4px solid rgb(219, 219, 219);
    background-color: #f0f0f0;
    box-shadow:
    0 5px 1.2px rgba(0, 0, 0, 0.034),
    0 2.7px 1.3px rgba(0, 0, 0, 0.048),
    0 1.5px 1px rgba(0, 0, 0, 0.06),
    0 2.3px 7.9px rgba(0, 0, 0, 0.072),
    0 4.8px 3.4px rgba(0, 0, 0, 0.086),
    0 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin:auto;
    margin-bottom: 20px;
}

textarea{
    font-family: sans-serif;  
    height: 225px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    width: 100%;
    resize: none;
}

textarea#story {

    -moz-appearance:none;
    outline:0px none transparent;
}
  
textarea:focus, input:focus{
    outline: 0;
}
  
*:focus {
    outline: 0;
}
  

main .tap-button{  
    color: rgb(126, 125, 125); 
    width: 50px;
    font-size: 14px;
    height: 50px;
    border-radius: 100px;
    border:2px solid hsl(98, 100%, 55%);
    font-weight: 600;
    box-shadow:
    0 5px 1.2px rgba(0, 0, 0, 0.034),
    0 2.7px 1.3px rgba(0, 0, 0, 0.048),
    0 1.5px 1px rgba(0, 0, 0, 0.06),
    0 2.3px 7.9px rgba(0, 0, 0, 0.072),
    0 4.8px 3.4px rgba(0, 0, 0, 0.086),
    0 1px 2px rgba(0, 0, 0, 0.12);    
}

.nav-icon{
    width: 13px;
    
}

.selected-color{
    background-color: hsl(98, 100%, 55%);
}

.icon{
    padding-top: 4px;
    width: 15px;
    height: 18px;
}
