*:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
}

* li  {
list-style-type: none;
}



*{
    box-sizing: border-box;
}

body{
    background-color: rgb(243, 243, 243);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    margin:20px 0px;
}

main{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

main .left{
    border-right: 1px solid black;
}

main .left .button-list{
    margin-top: 10px;
}

main .left .button {
    cursor: pointer;
    text-align: center;
    padding: 4px 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-right: 10px;
}

main .right{
    width: 25%;
    padding:10px
}

main .right .title{
    display: flex;
    padding-bottom: 5px;
    font-size: 18px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.user{
    font-size: 15px;
    margin: 10px 0px;
    display: flex;
    font-weight: 600;
}

.name {
    flex: 1;
}

.total-wealth{
    display: flex;
    border-bottom: 1px solid black;
    background-color: white;
    padding: 5px;
}